[2022-01-23 20:28] adam9899 opened #1 "Crash on boot"
**Describe the bug**
Crash on launch

** Mod version **
brutalbosses-2.2.jar

** Logs **
Latest/Crash log
[latest.log](https://github.com/someaddons/dungeonbosses/files/7921339/latest.log)

[2022-01-23 20:30] adam9899 commented on #1
Issue with big brain perhaps?

[2022-01-23 20:47] someaddons commented on #1
ye mixin conflict with bigbrains

[2022-01-23 20:51] someaddons commented on #1
fixed in v2.3

[2022-01-23 20:51] #1 closed, assigned to nobody

[2022-01-23 22:13] RIZ79 opened #2 "There are a lot of such errors in the logs. Failed to load boss item brutalbosses:"
**Describe the bug**
There are a lot of such errors in the logs. Failed to load boss item brutalbosses:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

** Mod version **
2.2

** Logs **
Latest/Crash log
[2022-01-23-4.log.gz](https://gith

[2022-01-23 22:38] someaddons commented on #2
That is apoheosis scanning the custom bosses folder of this mod, just because it is called "bosses". Aka not something this mod causes nor I got control over, so please make a bug report to apotheosis.
Related code line of it: https://github.com/Shadows-of-Fire/Apotheosis/blob/1.16/src/main/java/shadows/apotheosis/deadly/reload/BossItemManager.java#L61

[2022-01-23 22:38] #2 closed, assigned to nobody

[2022-01-23 22:59] RIZ79 commented on #2
sent

[2022-01-25 09:09] JetpackRescue opened #3 "If you change the visual scale, it does not change their hitbox."
1.16.5
I changed the blazeboss visualscale, but it doesn't change their hitbox so you have to shoot below the mob. Any time you shoot the mob it misses because the hitbox is tiny below him. Is there a way to add a change to the hitbox as well?

Even changing the evoker to visualscale 1.5 makes it so the hitbox is below his head, i'm making a modpack with guns so the headshot multiplier is importan

[2022-01-25 12:01] someaddons commented on #3
The hitboxes are changed clientside, which is why it works for melee hits but any projectiles are calculated on server side and thus use the original sized hitbox. The reason why the serverside hitbox is not modified is that entities would have a hard time moving around whenthe hitbox varies from its normal size, so not really something I could nicely change.

[2022-01-25 12:01] #3 closed, assigned to nobody

[2022-02-24 21:14] LaBestiaBrutal opened #4 "[Bug]: Crash on startup 1.18.1"
### Describe the bug you're experiencing

Crashes the client and server on startup

### Reproducability

Using forge 39.0.85 and brutalbosses-1.18.1-3.7.jar

### Mod up to date

- [X] Before submitting this issue I updated to the newest version and reproduced it

### Minecraft version

1.18.1

### Modloader version

Forge

### Logs

https://gist.github.com/LaBestiaBrutal/38bd41aca50fcc73e6fd1e8fe8

[2022-02-24 23:00] someaddons commented on #4
fixed in 3.8!

[2022-02-24 23:00] #4 closed, assigned to someaddons

[2022-02-25 00:43] Gaxon1 opened #5 "[Bug]: Crashes on World load"
### Describe the bug you're experiencing

Load a previous world, and world crashes at 100%

### Reproducability

Removing dungeonbosses allows the world to successfully load. Adding it back in and the crash continues as soon as the load reaches 100%

### Mod up to date

- [X] Before submitting this issue I updated to the newest version and reproduced it

### Minecraft version

1.18.1

### Modloade

[2022-02-25 02:21] JetpackRescue opened #6 "[Bug]: Spitcobweb seems broken"
### Describe the bug you're experiencing

brutalbosses:spitcobweb seems to be broken, when summoning the cavespiderboss or applying it to a different mob as a boss it just produces white particles around the spider, out of the several tests i've tried, i've only seen 1 cobweb and it spawned behind the mob, I was 10 blocks in front of the mob.

### Reproducability

summon cavespiderboss

### Mod up

[2022-02-25 04:01] Gaxon1 commented on #5
Seems to be a conflict with Infernal Mobs

[2022-02-25 08:16] someaddons commented on #6
fixed

[2022-02-25 08:16] #6 closed, assigned to someaddons

[2022-02-25 08:16] someaddons commented on #5
fixed

[2022-02-25 08:16] #5 closed, assigned to someaddons

[2022-02-27 19:50] Colin-J-Wood opened #7 "[Bug]: Datapacks are loading after the ones provided by Paxi, causing custom datapack to be overriden"
### Describe the bug you're experiencing

I develop a modpack with very specific configuration which helps balance the bosses.  However, these configurations are completely forgotten by the mod's datapack loading order.

In order to fix datapack loading, you need to make sure your mod's datapack loads in *before* user provided (or paxi provided) ones and not after.

### Reproducability

Kaleidio's

[2022-02-27 20:44] someaddons commented on #7
Loading order is done by forge and mods data is always loaded before any datapack, are you sure you've got the datapack in the right folder? And what is a paxi can I eat it?

[2022-02-28 01:27] NighthowlerStudios commented on #7
Paxi is a datapack loading mod that lets you load datapacks like defaultconfig loads serverconfig.  modpack developers like myself can develop their own datapacks that every world created will have automatically installed.

paxi is loading them before yours does, and I don't exactly know why.

[2022-02-28 01:30] NighthowlerStudios commented on #7
I think it has something to do with the fact you are shipping a zipped version of your data folder with the base version already present, causing minecraft to load the compressed version afterward.  please make sure you don't ship two data folders in that fashion.

[2022-02-28 01:30] NighthowlerStudios commented on #7
![image](https://user-images.githubusercontent.com/82226641/155910119-db50dd37-b1d8-4f30-8e14-23ecd0e9f572.png)

[2022-02-28 10:22] someaddons commented on #7
ah so paxi is another clone of a global datapacks mod

[2022-02-28 10:30] someaddons commented on #7
the data zip wasnt intended to be included, but I dont think it matters as I can successfully load a datapack modification. You still did not mention the paths/folders your datapack is using btw, so I cannot verify that your datapack is actually in the correct place.

[2022-02-28 10:41] NighthowlerStudios commented on #7
it is correct as my datapack is loading other mods' namespaces in the correct way.  when I used the datapack list command, it showed brutal bosses had loaded its own at least 20 packs after paxi-inserted ones.  all of those namespaces are provided in a single pack I created but twenty or so mods load after it anyway.  your mod is the only one that causes issue by loading afterward

I'm in touch wi

[2022-02-28 10:44] NighthowlerStudios commented on #7
I still recommend removing the .zip version for the purpose of debloating and assurance.  I will test again now with it manually removed from the jar.

[2022-02-28 10:53] NighthowlerStudios commented on #7
![image](https://user-images.githubusercontent.com/82226641/155970920-f4b7fb02-a25a-445b-96ab-b7d0b6c5c656.png)
didn't fix anything.  but proof of datapack ordering.

[2022-02-28 10:54] NighthowlerStudios commented on #7
note I only started experiencing this issue post 2.6.  does it have something to do with your fixes for world loading?

[2022-02-28 10:59] NighthowlerStudios commented on #7
thanks for the debloat fix.  keeping this tracker open until a paxi know-about gets in touch with me on the loading order issues.

[2022-02-28 11:22] someaddons commented on #7
could also try another mod like global datapacks instead

[2022-02-28 12:11] NighthowlerStudios commented on #7
yeah gonna do that next.  was busy for a moment

[2022-02-28 13:07] NighthowlerStudios commented on #7
looks like global data and resource packs mod does this better.  Closing on this side and leaving the issue up to Paxi.

[2022-02-28 13:07] #7 closed, assigned to someaddons

[2022-02-28 21:10] itsdinkd opened #8 "[Bug]: 1.18.1 weird error on servers tart"
### Describe the bug you're experiencing

When a dedicated server is fully started, and world spawned in, you get this funky error.

### Reproducability

start server
watch console/logs

### Mod up to date

- [X] Before submitting this issue I updated to the newest version and reproduced it

### Minecraft version

1.18.1

### Modloader version

Forge

### Logs

https://gist.github.com/itsdinkd/62d

[2022-02-28 22:09] someaddons commented on #8
thats actually an issue of the armor plus mod, please open a bug report on their side, they're creating entities with returning a null entity type.

[2022-02-28 22:09] #8 closed, assigned to someaddons

[2022-03-03 02:09] itsdinkd commented on #8
will do, thanks!

by the way, I didn't even notice you made this mod, awesome. irrelevant but I'm a patreon supporter of yours. When will you be releasing Performant out to the public? would love to add into my modpack as soon as its out (currently use it in the official server for the pack)

[2022-03-03 22:09] RedPxnda opened #9 "What does the ai goal "minecraft:target" do?"
The title explains it all. I don't see an explanation for it on the creating bosses wiki page.

[2022-03-05 10:38] someaddons commented on #9
Ah seems I missed adding that one, its as simple as it sounds it adds player targeting to the boss. E.g. when you wan to make a chicken boss, chickens by default do not target players without. Added it to the desc

[2022-03-05 10:38] #9 closed, assigned to nobody

[2022-03-10 01:00] JetpackRescue opened #10 "[Bug]: Boss bar continually disappears when shooting bosses at a distance"
### Describe the bug you're experiencing

When you get any decent distance away from the boss, the boss bar disappears, then when you injure the boss, it shows back up. Could you please add a config setting to always show the boss bar if you're within a configurable distance. I have boss music that plays when a boss bar shows up and it's turning the music on and off. I don't think you should have

[2022-03-16 17:55] someaddons commented on #10
fixed in 3.1

[2022-03-16 17:55] #10 closed, assigned to someaddons

[2022-03-20 19:05] addaonez opened #11 "[Bug]: Custom attribute "dropgear" doesn't work"
### Describe the bug you're experiencing

Whether I use this attribute or not, all the same, all items drop from bosses. In NBT tags, all the chances of items dropping are 0.085f, although I need to accurately drop the chestpiece and definitely not drop the rest of the items

### Reproducability

Try to summon any boss and kill him, this attribute does not work for anyone

### Mod up to date

- [X

[2022-03-21 10:31] someaddons commented on #11
Dropgear currently does not allow you to drop only one specific item:
[code]

If you specify 5 for the chest, then it'll drop all slots up to the chest slot

[2022-03-22 19:18] addaonez commented on #11
Thanks for the answer.
Is it possible to somehow change NBT tags for bosses in advance? ArmorDropChances and HandDropChances.

[2022-03-22 19:56] someaddons commented on #11
not yet, but planning to add nbt support to the boss entity itself

[2022-03-27 08:11] addaonez commented on #11
it would be great!

[2022-03-28 09:08] JetpackRescue opened #12 "Hide boss nametag"
I've changed the boss' name into an image to make the boss bar look better. The issue I'm having is that the image for the boss bar also shows above the boss' head. Could you add an option to hide the boss' nametag?

I'm using a method where I reference a language file in my resource packs textures/font location, this replaces the name of the mob with an image. It looks like this in the boss' conf

[2022-03-30 07:23] Darkmega18 opened #13 "[Suggestion] Boss locked Chests module or addon."
So I noticed that your bosses spawn at the location of loot chests when they're spawned as part of dungeons.

In recent times myself and some others working on a modpack have desired a mod that basically allows us to lock certain chests and provide some kind of challenge before they can be accessed.

We have the mod "Locks" by Melonslise, however it's currently become a little buggy and lootr rece

[2022-03-30 07:56] Darkmega18 opened #14 "[Suggestion] Champions, Apotheosis, special AI cross compatibility among others."
To allow maximum shenanigans cross compatibility could be considered with other mods which have the capacity to do things to mobs.

**Some initial suggestions if possible:**
With **champions** _(by TheIllusiveC4)_ available, pack makers can make a boss spawn additionally as a specific champion tier with preset champion skills, or with a random assortment of champion skills based on tier. If compat

[2022-04-02 06:49] BugmanBugman opened #15 "[Suggestion]: Making the brutal bosses exempt from activating pressure plates"
### Describe the bug you're experiencing

Making the brutal bosses exempt from activating pressure plates. This would be nice because sometimes a boss can spawn in the bottom of a vanilla desert pyramid and set off the pressure plate, destroying all the loot, and i think this is rather unfai
![2022-04-02_01 40 02](https://user-images.githubusercontent.com/40730042/161370864-a77f696d-60c0-4d5d-9a9e

[2022-04-06 05:09] Cixon opened #16 "[1.16.5] [Bug]: Crash brutalbosses:thrownitem"
### Describe the bug you're experiencing

Entered a [IllagerPlus](https://www.curseforge.com/minecraft/mc-mods/illagers) structure with the intention of killing the enemies but was met with a crash due a Vindicator throwing a ender pearl.

### Reproducability

### -Install 1.16 BrutalBosses-v3.2
Spawn a Vindicator that can throw ender-pearls.
Enter survival mode
See report.

### Mod up to date

-

[2022-04-06 05:13] Cixon commented on #16
**note:** i did not modify any configuration options for dungeonbosses.

[2022-04-06 09:38] someaddons commented on #16
Its actually the mod `betterinvisibility` causing the crash, not brutal bosses

[2022-04-06 09:38] #16 closed, assigned to someaddons

[2022-04-06 09:43] someaddons commented on #14
I'm planning to add support for creating boss entities from their NBT data, which should take care of most of these suggestions, as you then can make e.g. a champion entity with two stars, save it as NBT via command and put it into the boss datapack file to load. Then it'll always be a boss with two stars.

[2022-04-06 12:00] Darkmega18 commented on #14
I guess that works too. Slightly tougher to throw together nbt for apotheosis bosses though.

What about the ability to list multiple items to a slot to give them a chance to have one of them? So that bosses can be slightly varied? Or is brutal bosses made to be used to create specific bosses rather than have them be generated?

[2022-04-06 13:24] Cixon commented on #16
ok will report to that dev, thanks!

[2022-04-14 05:52] Darkmega18 opened #17 "[Bug]: issues replacing/editing defaults"
### Describe the bug you're experiencing

I have an issue where I'm trying to replace the archmage boss with a necromancer boss from eidolon. however when I replace the archmage file in my datapack it doesn't override it.
however I can rename the same file necroboss and spawn that with no issues at all.

### Reproducability

Pick a boss.
Replace the boss's file using an external datapack loaded th

[2022-04-14 06:02] Darkmega18 opened #18 "[Bug]: melee hit has entire chase distance added to range (?), + Shield melee interesting interaction"
### Describe the bug you're experiencing

**first (bug):**
It's weird, but I'm trying to have a boss who chases you and fires projectiles and summons, but he has the capability to melee every so often if you get to close to knock you back and debuff you.

However what instead has happened is that this boss with 10 follow range is hovering well outside my reach, and with his 4 range melee that shou

[2022-04-15 10:46] someaddons commented on #18
Could you upload your custom boss json? The melee AI is by default allowing hits at a 2 block range, which shouldnt be so big.
For the suggestions the problematic is that many of those modded items are made especially for players, e.g. mobs don't have the kind of aim players do.

[2022-04-15 10:52] someaddons commented on #17
works just fine for me with open loader, you probably want to upload your custom datapack there is likely some mistake in it.

[2022-04-15 11:18] Darkmega18 commented on #17
I literally just crossed out the list of spawn locations from the bottom of them so I could edit them down the line and re-allocate them places around the pack.

then with the archmage it's literally the exact file that I turned into a necromancer boss file separate from the archmage's file which I then spawned afterwards after a reload and fought (which prompted the other issue report). so it was

[2022-04-15 11:22] Darkmega18 commented on #18
you'll need eidolon, quark, atum and dungeons gear installed for him cause of the mobs and items used for his stuff... or yeah, exchange. but the necromancer naturally spams zombies and skeletons at you anyways. I just added wraiths past half health through the mod.
(renamed to a txt so it uploads. but it was a json of course.)
This was first copied over the original archmage, who after frustratio

[2022-04-15 12:39] someaddons commented on #18
hm the melee shield goal is actually not intended to be used alongside the other melee and chase AI's, those exclude eachother from running. Without using that one it should probably be fine

[2022-04-15 12:42] someaddons commented on #17
apotheosis is just trying to read the file and notices its in the wrong format, prints an error and skips. Thats not an actual issue.
With openloader I made a quick datapack which changed the archmage entity to a zombie instead and it worked just fine, so I guess there is sth wrong with your datapack

[2022-04-15 12:42] someaddons commented on #15
fixed

[2022-04-15 12:42] #15 closed, assigned to someaddons

[2022-04-15 16:58] Darkmega18 commented on #18
Ok, I'll give it a shot next time.

[2022-04-15 17:31] Darkmega18 commented on #17
Alrighty. I'll extract them again from the jar and edit them slower this time, maybe in their own datapack and see if they work. but theres no errors coming up for brutal boss itself, and if I make something invalid you'd chuck an error right?
Leaving the loot tables spawn list empty can stop something from spawning can't it? I just want to dummy most of the existing ones out...

[2022-04-15 18:03] Darkmega18 commented on #17
well that worked. weird. guess I'll go bigger from here then. and see where it breaks.

[2022-04-16 15:44] Darkmega18 commented on #18
well, even without the shield goal. the melee hit can hit me as long as he's within his chase distance doing his other attacks.
even after I set it to something like -6. which somehow it takes, he can still hit at 10 range. same boss, just minus the shield ai
[necroboss.json.txt](https://github.com/someaddons/dungeonbosses/files/8500187/necroboss.json.txt)

[2022-04-16 15:59] Darkmega18 commented on #18
have a streamable of me fighting him. This is with melee hit set to 4 where it's meant to be so he can hit you if you get close. but he's just always hitting regardless when within chase distance.
https://streamable.com/dv6vjp
not sure how I picked up a bleed in the fight, but it was likely majrusz's difficulty picking up that he's got a sword in his mainhand technically, and so counting it for hi

[2022-04-16 16:11] Darkmega18 commented on #18
ok. if I take out chase, he then just gets infinite range as long as he's aggro it seems. ._. seems like he's somehow just raytrace sniping me. cause it also hurts any mobs if I line them up perfectly also...

your item based projectiles are also capable of going through shield.... :V

but further testing seems like the "melee" doesn't. so he must've been backing it up with fireballs.

further tes

[2022-04-16 19:25] Darkmega18 commented on #18
frick! I started on a redstone golem fight. Whirlwind still has the same issue. the golem somehow has his entire aggro distance range whirlwind, despite it being set to only 3.
also yes, it's whirlwind, not whirldwind. :V even google, it'll correct you to whirlwind without the d. that threw me off really hard.

Am I right in assuming that range and whirlwinds are only fine to add onto mobs who don

[2022-04-16 21:38] RedPxnda opened #19 "[Bug]: The Llama spit shot by "spitcobweb" doesn't despawn in an open area."
### Describe the bug you're experiencing

A boss with the "spitcobweb" goal shoots llama spit as expected, but since this spit has no gravity, its not unlikely it gets stuck in the air and never despawns.
Underground, this isn't an issue as in theory the spit should hit a block. But, on the surface, it is a very common occurrence.

### Reproducability

Self explanatory.

### Mod up to date

- [X]

[2022-04-17 08:21] Darkmega18 opened #20 "[Bug]: Summoned mobs always gain an iron sword. Can't change it. please stop."
### Describe the bug you're experiencing

![image](https://user-images.githubusercontent.com/8104689/163706521-f9938e42-4d99-4652-9814-ee83191594eb.png)
My summoned mini-bosses and other helpers etc of a particular boss I'm trying to perfect is having issues. The katana is meant to spawn in their main hand, but it's being immediately overridden by an iron sword.
I have a feeling this is your doing

[2022-04-17 22:12] someaddons commented on #20
fixed in 3.3, was a leftover from before summoned mobs could be customized via nbt

[2022-04-17 22:12] #20 closed, assigned to someaddons

[2022-04-17 22:31] someaddons commented on #19
fixed in 3.4, was missing a max lifetime

[2022-04-17 22:31] #19 closed, assigned to someaddons

[2022-04-17 22:47] someaddons commented on #18
ye I butchered the name. Whirlwind should be fine on any entity, its simply doing the attack on the specified attackdistance or by default 4 blocks far. For me that works just fine aswell, you might want to test with a simple vanilla mob. Modded mobs may have other functionalities/AI's running beside the brutal bosses ones.

Visual indicators I think are only helpful if you can somehow avoid the a

[2022-04-18 03:40] Darkmega18 commented on #18
blocking can "avoid" the hit, but your potion effect still goes through.
and thats probably one of my issues then. I'm trying to make unique bosses out of mobs who don't appear very often due to having a decent variety of mobs available in my game all vying for screen time. :<

The melee hit was working on any mob that doesn't naturally have a melee attack in the first place like chicken and cow.

[2022-04-18 03:52] Darkmega18 commented on #20
alrighty. thank you.

[2022-04-18 08:13] someaddons commented on #18
My AI does enforce the reach, see here https://github.com/someaddons/dungeonbosses/blob/02c1c95d910ee95aa12a4fbc450c8d556ba9fa82/src/main/java/com/brutalbosses/entity/ai/MeleeHitGoal.java#L66

if that one was broken then it should be reproduceable with any normal non-modded entitiy aswell, which would exclude other AI's/attacks from other mods for testing.

[2022-04-18 09:03] Jackiecrazy commented on #18
You squared attack reach twice. This doesn't manifest on default bosses because they do not use this field, and thus the initial squaring is skipped.
https://github.com/someaddons/dungeonbosses/blob/02c1c95d910ee95aa12a4fbc450c8d556ba9fa82/src/main/java/com/brutalbosses/entity/ai/MeleeHitGoal.java#L139

[2022-04-18 10:04] Darkmega18 opened #21 "[Bug]: After updating after last issue, now my summoned minions can't inherit brutal ai effects through nbt."
### Describe the bug you're experiencing

Two versions ago, on version 3.2 that I had when I made this issue: https://github.com/someaddons/dungeonbosses/issues/20
I had the capability to summon mobs with other brutal boss ai capabilities by putting it into their nbt. I did that during the chucko fight that I sent a streamable of to make all the chickens fight.

But today, after checking to see th

[2022-04-18 10:25] Darkmega18 commented on #18
got em?

[2022-04-21 10:41] someaddons commented on #21
ye that is not intended, should be loading nbt summons just fine

[2022-04-21 10:42] someaddons commented on #18
yep, good find!

[2022-04-22 02:41] Darkmega18 commented on #21
Will be fixed?

[2022-04-27 06:47] Jetpack-Cat opened #22 "[Bug]: "ownerdamagepct" is damaging the boss when summonedmobs are summoned, not die"
### Describe the bug you're experiencing

have a boss with `brutalbosses:summonmobs`, add `"ownerdamagepct": 30`, the first time any mob is summoned from the boss there's no damage, killing the summoned mobs doesn't do damage, but the second time the mobs are summoned watch a huge chunk of the bosses health go down.

### Reproducability

read above

### Mod up to date

- [X] Before submitting this

[2022-04-29 22:20] someaddons commented on #22
fixed

[2022-04-29 22:20] #22 closed, assigned to someaddons

[2022-04-29 22:20] someaddons commented on #21
fixed

[2022-04-29 22:20] #21 closed, assigned to someaddons

[2022-04-29 22:20] someaddons commented on #18
fixed

[2022-04-29 22:20] #18 closed, assigned to someaddons

[2022-04-29 22:20] someaddons commented on #12
added

[2022-04-29 22:20] #12 closed, assigned to nobody

[2022-04-29 22:20] someaddons commented on #11
added nbt support

[2022-04-29 22:20] #11 closed, assigned to someaddons

[2022-04-30 05:34] Darkmega18 commented on #18
eeeexcellent.

[2022-04-30 05:35] Darkmega18 commented on #21
eeeexcellent x2.

[2022-04-30 13:13] someaddons commented on #14
Ye it is more for designed bosses, which facilitate how the fight plays out^^ added nbt support

[2022-04-30 13:13] #14 closed, assigned to nobody

[2022-04-30 16:07] Sunekaer opened #23 "[Bug]: failed to spawn! Error:"
### Describe the bug you're experiencing

Error below being spammed in log

### Reproducability

[30Apr2022 16:05:55.551] [Worker-Main-2/ERROR] [com.brutalbosses.BrutalBosses/]: Boss: brutalbosses:zombietoxicboss failed to spawn! Error:
java.lang.NullPointerException: Cannot invoke "net.minecraft.nbt.CompoundTag.m_128441_(String)" because "this.creationData" is null
	at com.brutalbosses.entity.Bos

[2022-04-30 16:14] someaddons commented on #23
fixed in v4.7

[2022-04-30 16:14] #23 closed, assigned to someaddons

[2022-04-30 17:25] #17 closed, assigned to someaddons

[2022-05-02 19:27] Niketats opened #24 "[Bug]: Wither Skeleton in bastion?"
### Describe the bug you're experiencing

Wither skeleton boss spawns on bastion, it's strangw because piglims hates wither skeletons
![2022-05-02_22 24 08](https://user-images.githubusercontent.com/68917520/166312306-52188f52-ee65-456b-82f6-209a549cc42c.png)

### Reproducability

find bastion

### Mod up to date

- [X] Before submitting this issue I updated to the newest version and reproduced it

[2022-05-05 05:38] xuwuwudi opened #25 "The booty of some bosses is too expensive"
Although I haven't seen it all
Vouzhul the Darkmaster drops MendingX and FortuneX??
I think FortuneV is the most.

[2022-05-05 09:50] someaddons commented on #24
fixed in 4.8

[2022-05-05 09:50] #24 closed, assigned to someaddons

[2022-05-05 09:50] someaddons commented on #25
fixed in 4.8

[2022-05-05 09:50] #25 closed, assigned to nobody

[2022-05-08 06:00] HockeyZman2000 opened #26 "[1.18.2] Server Stops Ticking After Boss Spawn"
Hoping you can help me find the cause of this. I'll be playing on my world for a random amount of time, and it will eventually cease to load new chunks, tick entities, and blocks don't drop when mined. After reviewing the debug log, this occurs in tandem when the line below appears and any variation of it:

[08May2022 00:46:33.371] [Worker-Main-19/DEBUG] [com.brutalbosses.BrutalBosses/]: Spawning

[2022-05-08 06:10] HockeyZman2000 commented on #26
Here is a list of all installed mods as well:
[modlist-08-05-2022_01.09.39.txt](https://github.com/someaddons/dungeonbosses/files/8646420/modlist-08-05-2022_01.09.39.txt)

[2022-05-08 10:15] someaddons commented on #26
brutal bosses doesnt do anything to cause behaviour like that, its just a coincidence with the log message. The message appears during structures beeing spawned in, so its likely that worldgen is stalling. So mostly likely candidates from your modlist would be rubidium(performance mod which often got trouble), starlight(involved in worldgen light updates) and terralith.

I'd also suggest to setup

[2022-05-09 13:01] Niketats commented on #24
oh, but i'm using 1.16.5 :D

[2022-05-10 21:01] RAIMBOWFISH commented on #26
Hello, I had the same issue of the world stops ticking at some point after joining the world. For me, getting rid of Champions out of my mod pack fixed the issue and it didn't occur even with brutal bosses installed after I removed champions.

I've attached a text file of mods in my mod pack. The champions mod caused this crash even with most world gen mods removed, including terralif

[2022-05-11 10:36] justawander opened #27 "[Bug]: Brutal Bosses seems to have crash my game"
### Describe the bug you're experiencing

when i was loading minecraft and went to my mod loader page the game crashed for me with Brutal Bosses being one of the mods said to be responcable

### Reproducability

my fire guess is to download starlight with Brutal Bosses installed and then go to the mod loader page

### Mod up to date

- [X] Before submitting this issue I updated to the newest versi

[2022-05-14 20:07] someaddons commented on #27
seems alex's mobs is creating an entity without a level, adding a workaround but shouldnt really happen in the first place.

[2022-05-14 20:12] #27 closed, assigned to someaddons

[2022-05-17 01:20] Tyrius1 opened #28 "[Bug]: Owner Damage Percent first kill 1.18.2"
### Describe the bug you're experiencing

Trying to bring back the Grave Digger boss I made in 1.16!
"ownerdamagepct": 0f, using this on one of my wip bosses and regardless what I set the amount to it almost entirely kills the boss from the first minion slain. The rest of the minions slain do what looks like close to the actual percentage set.

### Reproducability

To reproduce create evoker boss

[2022-05-18 13:16] logicallydimp23 opened #29 "[Question]: Config to disable spawn for certain bosses?"
Is there a config to disable certain named bosses from spawning on the server?

[2022-05-22 08:40] someaddons commented on #29
no yoou need to do it via datapack, removing their spawn entries

[2022-05-22 08:40] #29 closed, assigned to nobody

[2022-05-26 07:31] MacChuck opened #30 "[Bug]: duplicate spawns in one spot"
### Describe the bug you're experiencing

Not sure if this is a bug or a feature request, or a balance adjustment. Treasure chests in shipwrecks and underwater tend to spawn multiple copies of the drowned boss. I've seen 3 of the same boss along with a few normal drowned mobs. Is there a way to have them not spawn in duplicate and triplicate around the same treasure?

### Reproducability

Visit un

[2022-05-26 13:09] Nyaromight opened #31 "[Bug]: Bosses have permanent Glow"
### Describe the bug you're experiencing

The bosses, which naturally spawns, have a permanent Glow effect. I see them through everything. When I use the command to spawn a boss, they dont have it.

### Reproducability

Finding another one or creating a new world.

### Mod up to date

- [X] Before submitting this issue I updated to the newest version and reproduced it

### Minecraft version

1.18.

[2022-05-27 14:56] NighthowlerStudios opened #32 "[Minor Bug]: Mixin failure on BasePressurePlateBlockMixin, the specified mixin class was not found"
### Describe the bug you're experiencing

During startup the log spits out information about a mixin failure.  No behavioural difference was noticed, the game does not crash.

### Reproducability

Can occur by simply launching the mod on its own

### Mod up to date

- [X] Before submitting this issue I updated to the newest version and reproduced it

### Minecraft version

1.16.5

### Modloader ve

[2022-05-27 21:22] Slimdude opened #33 "Graphical glitch when mod is installed[Bug]:"
### Describe the bug you're experiencing

When looking in the direction of a boss, some tile entities and other mobs surrounding the boss are rendered black. They can also be seen through solid blocks giving the appearance of xray vision. Looking away from the boss makes the problem go away, and removing the mod from the game solves this problem completely.

Here are some screenshots:

]https://im

[2022-06-26 11:32] someaddons commented on #31
that is normal, some of the bosses have a glow potion effect. Simply the way those bosses are meant to be^^
Usually indicates either an interesting place to find, or that the boss has high difficulty

[2022-06-26 11:32] #31 closed, assigned to someaddons

[2022-06-28 10:02] #26 closed, assigned to nobody

[2022-06-28 10:29] someaddons commented on #28
fixed in v5.0

[2022-06-28 10:29] #28 closed, assigned to someaddons

[2022-06-28 10:49] someaddons commented on #30
Adding functionality reducing similar spawns too close to eachother, with configurable distance. Fixed in 5.0

[2022-06-28 10:49] #30 closed, assigned to someaddons

[2022-06-28 10:52] someaddons commented on #13
keys is kind of difficult, but I could prevent the position to be interacted with/display a message to the player. Probably also should apply a glow effect to the boss so the player can find it

[2022-06-28 11:32] someaddons commented on #13
added in v5.0

[2022-06-28 11:32] #13 closed, assigned to nobody

[2022-06-28 11:34] someaddons commented on #33
Bosses do not have any rendering component to them, its simply a vanilla entity which gets a nametag and special abilities. If rendering is broken when looking at one you probably have a mod which has general rendering issues of name tags or boss bars

[2022-06-28 11:34] #33 closed, assigned to someaddons

[2022-06-28 11:46] someaddons commented on #32
ye don't worry about this one, just a warning about a no longer existing file I forgot to remove. Probably won't bother updating the old version for this though, as its just a log thing

[2022-06-28 11:46] #32 closed, assigned to someaddons

[2022-07-02 20:49] Tyrius1 opened #34 "[Bug]: Whirlwind Crash"
### Describe the bug you're experiencing

Server crash

### Reproducability

Unsure.

### Mod up to date

- [X] Before submitting this issue I updated to the newest version and reproduced it

### Minecraft version

1.18.1

### Modloader version

Forge

### Logs and Datapacks

https://pastebin.com/kxxV5q1E

[2022-07-05 21:55] someaddons commented on #34
fixed in 5.1^^

[2022-07-05 21:55] #34 closed, assigned to someaddons

[2022-07-06 04:37] ghost opened #35 "[Bug]: crash with ATUM"
### Describe the bug you're experiencing

game crashed when player entered the atum dimension

### Reproducability

enter the atum dimension

### Mod up to date

- [X] Before submitting this issue I updated to the newest version and reproduced it

### Minecraft version

1.16.5

### Modloader version

Forge

### Logs and Datapacks

crash report: https://pastebin.ubuntu.com/p/TcjYVNZgDF/

[2022-07-10 04:50] #35 closed, assigned to someaddons

[2022-07-13 01:06] kackalack opened #36 "Crash on opening protected chest when in creative"
When opening a chest that is protected while in creative on a multiplayer server the game will crash.

[2022-07-13 05:14] Akaixz commented on #36
I've ran into the same issue, playing on 1.18.2 version, it crashed whilst trying to open a chest guarded by a wither skeleton boss on the nether fortress.

Crash log: https://gist.github.com/Akaixz/086efacb134d3e19215cdd5a4aeaf28c

[2022-07-17 22:18] someaddons commented on #36
fixed, thanks for providing a crashlog unlike op

[2022-07-17 22:18] #36 closed, assigned to nobody

[2022-07-23 15:48] Deathawaits4 opened #37 "[Bug]: Hitbox does not scale with visualsize"
### Describe the bug you're experiencing

When increasing visual size higher than the base, the hitbox does not scale. This is very frustrating when fighting large bosses.
This issue is very present for a few bosses, but especially the large pig which is nearly impossible to hit.
There is a library called pehkui which has perfect scaling abilities for mods, if you dont want to implement your own,

[2022-08-01 13:46] someaddons commented on #37
that is actually normal and intended, as entities would have a lot of trouble moving around when their actual hitbox would get bigger. I may try to make them more hittable on clientside isntead

[2022-08-03 12:32] #37 closed, assigned to someaddons

[2022-08-03 21:59] xarvex opened #38 "[Bug]: Hitting a non-boss entity crashes the game"
### Describe the bug you're experiencing

Simply hitting a mob that is not modified by the mod to be a boss crashes the game immediately, it appears to be a part of the code that assumes an entity is part of BossType.

Version is not actually 1.18.1, I am on 1.19.1 but there was no option labelled for it.
This is on Brutal Bosses 5.4.

### Reproducability

From my small testing, hitting any mob, w

[2022-08-03 23:50] serialtasted opened #39 "[Bug]: Crashes the game when with Create mod"
### Describe the bug you're experiencing

After updating the mod it started to crash on startup. The log is attached

### Reproducability

On the latest version (1.18.2 - 5.3) the game crashes when paired with Create.

### Mod up to date

- [X] Before submitting this issue I updated to the newest version and reproduced it

### Minecraft version

1.18.1

### Modloader version

Forge

### Logs and D

[2022-08-04 07:01] Darkmega18 commented on #13
Can I request this lock stuff be backported to 1.16.5 so I can actually use my own suggestion in the modpack I hoped to use it in? :<

[2022-08-04 13:09] someaddons commented on #39
fixed

[2022-08-04 13:09] #39 closed, assigned to someaddons

[2022-08-04 13:09] someaddons commented on #38
fixed

[2022-08-04 13:09] #38 closed, assigned to someaddons

[2022-08-08 06:29] jeffwzhu opened #40 "[Bug]: Crash upon opening nether bridge chests in 1.19 (build brutalbosses-1.19.1-5.5.jar)"
### Describe the bug you're experiencing

Find a nether fortress, open all the chests.
Around every 1 in 2-3 chests will cause your game to crash with a "java.lang.NoSuchMethodError".

I found the chest in NBTExplorer and it looks like it's a "minecraft:chests/nether_bridge" with a seed of "6459638660099382466".
![nbt](https://user-images.githubusercontent.com/13359007/183351105-fb77f372-3bfc-43a6

[2022-08-08 12:11] someaddons commented on #40
ye it seems to be missing a chat function minecraft had changed in 1.19.1 I think the version isnt fully compatible with 1.19, should work on .1 and .2 though

[2022-08-27 15:57] DKLYNTLY commented on #40
when are you going to fix it

[2022-08-30 19:23] someaddons commented on #40
I'm not backporting to 1.19.1

[2022-09-03 16:55] DenilsonNM opened #41 "[Bug]: he specified mixin "" was not found"
### Describe the bug you're experiencing

just check my log file and i saw this error while inspecting.

this is the piece of logo that has the error:

[12:52:51] [main/ERROR]: The specified mixin 'com.brutalbosses.mixin.BasePressurePlateBlockMixin' was not found
org.spongepowered.asm.mixin.transformer.throwables.InvalidMixinException: The specified mixin 'com.brutalbosses.mixin.BasePressurePlateB

[2022-09-03 20:17] INooBTooMuch opened #42 "[Bug]: Freeze at World Creation"
### Describe the bug you're experiencing

When I try to create a world the game freezes at the Loading X% screen and I can't exit minecaft.

### Reproducability

This is the [mods folder](https://gist.github.com/INooBTooMuch/10cfa142657308873bc94d017f336ec9) without Brutal Bosses - Dungeon Bosses installed and I am able to load into a world, might be a mod compatibility issue.

These are the Datap

[2022-09-11 12:28] Kasualix opened #43 "[Question] Is the boss custom name localizable?"
If not, can you make it localizable?

[2022-09-17 16:42] EricFedrowisch opened #44 "Config Option for bosses to respawn"
It would be great to have a config option to make the bosses respawn after a number of minutes. Default could be 0 to set the behavior like it is currently where the bosses do not respawn.

[2022-10-02 10:42] RedBeast1959 opened #45 "Suggestion: Disable block destruction of Witch boss / Wandering Trader boss's magic attack"
brutalbosses-1.19.1-5.5.jar
Forge 43.1.32

Honestly, I like witch boss and wandering trader boss's magic attack, especially lightning summon projectile. But their destrutive power of magic attack which destroy blocks often cause lots of problems. Sometimes, they noticed me from far away and their magic projectile destroyed whole dungeon even before I reached that place. It was horrible experience

[2022-10-06 12:17] Kasualix opened #46 "[Question] Can the names of bosses be localized? How?"
If not, can you make the names of bosses localizable?

[2022-10-12 03:21] Saereth opened #47 "[Bug]: Mod conflict with ArnicaLib"
### Describe the bug you're experiencing

There is a conflicting Mixin with Arnicalib which causes the pack (FTB Inferno) to crash when both mods are present

### Reproducability

Minecraft 1.18.2
Forge 40.1.80

Minimum mods to reproduce:
brutalbosses-1.18.2-5.4
Arnicalib 5.6.1

I have opened an issue with Arnicalib as well and they seem to have identified the issue but think it may be better reso

[2022-10-16 11:54] someaddons commented on #47
fixed in 5.6

[2022-10-16 11:54] #47 closed, assigned to someaddons

[2022-10-16 12:24] #43 closed, assigned to nobody

[2022-10-17 19:28] someaddons commented on #46
make a datapack replacing the boss with one with a different name

[2022-10-17 19:28] #46 closed, assigned to nobody

[2022-10-23 16:59] Diversion98 commented on #42
I got the same bug with no datapacks.
minecraft version 1.19.2 so different version then the author of this issue.

Disabling the mod fixes it.

any news on this issue?
need more logs?
I got 300 mods so compatibility might be an issue xD

[2022-10-28 09:42] someaddons commented on #42
ye a log is always useful

[2022-10-28 15:16] Tyrius1 opened #48 "[Bug]: Mobs Animations Plus Conflict"
### Describe the bug you're experiencing

I was in creative and right clicked a chest that was assigned to a brutal boss and I crashed as the Boss targeted me.

### Reproducability

I'm guessing to just add Mobs Animations Plus(mod id in crash report is vanilla_animations) alongside Brutal Bosses and wait for the AI/Animations to conflict. Will do further testing with just the two mods if crash re

[2022-10-29 20:15] someaddons commented on #48
looks like just the animations mod is crashing, bosses doesnt seem involved in this

[2022-11-08 16:33] someaddons commented on #44
hm I kinda feel the whole dungeon respawning would be the proper way than just some boss

[2022-11-08 16:34] someaddons commented on #41
ye not a real bug, just a warning you can ignore

[2022-11-13 12:43] r8420 commented on #42
I'm also having this issue with brutalbosses-1.18.2-5.6.jar on my server.
Currently using a lot of mods so it could be a compatibility issue.
I attached the server logs.

[debug-3.log](https://github.com/someaddons/dungeonbosses/files/9997187/debug-3.log)
[latest.log](https://github.com/someaddons/dungeonbosses/files/9997189/latest.log)

[2022-11-27 20:33] K4N0 opened #49 "[Bug]: Incompatibility with Corpse mod"
### Describe the bug you're experiencing

While fighting and dying multiple times to Corbin The Rotten, I noticed that my corpse body was missing and all my items were lost.

### Reproducability

Have Corpse mod with no changes to the config made.
Have Brutal Bosses Mod installed.
Fight Corbin the rotten and die.
Corpse body gets destroyed and all items within it.
brutalbosses-1.18.2-5.6.jar
corps